@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #555;
    background-color: #E3D081;
    font-family: 'Montserrat', sans-serif;
}
figcaption, figure, footer, header, nav, section {
    display: block;
}
h1, h2, h3, h4, strong {
    margin: 0.25em;
    line-height: 1.25;
    color: #E3D081;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
    margin: 0.25em;
}
h4 {
    font-size: 1rem;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 1em 0;
    em {
        font-size: 1.05rem;
        font-weight: bold;
    }
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}