.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 0 5rem;
    align-self: center;

}
.card__graphic {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 0;
    padding-bottom: 66.6666%;
    img {
        position: absolute;
        height: 85%;
        width: 13vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.card__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 40vh;
    .card__title {
        font-size: 1.65rem;
        color: white;
        text-align: center;
    }
    .card__desc{
        color: $mint;
        margin: 4vw 1vw 0;
    }
}