.navtable {
  display: flex;
  flex-direction: column;
  flex: 1 0 25%;
  // margin-right: 1rem;
  background-color: $main;
  .title_tabs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 0;
    box-shadow: 0 0 100px RGBA(0,0,0,0.5);
    border-radius: 3px;
    overflow: hidden;
  }
  input {
    display: none;
    &:checked + label {
      background: $flax;
      color: $main;
    }
    @for $i from 1 through 4 {
      &#tab#{$i}:checked {
        ~ .line {
          top: #{($i - 1) * 2.65rem};
        }
        ~ .content-container #c#{$i} {
          position: relative;
          height: 100%;
          opacity: 1;
        }
      }
    }
  }
  label {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 2.65rem;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.25rem;
    color: $flax;
    position: relative;
    transition: 0.25s background ease;
    cursor: pointer;
    i {
      padding-right: 0.5em;
    }
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      display: block;
      background: #ccc;
      bottom: 0;
      opacity: 0;
      left: 0;
      transition: 0.25s ease;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  .content-container {
    position: relative;
    font-size: 16px;
    .content {
      position: relative;
      width: 100%;
      opacity: 0;
      height: 0;
      transition: 0.25s ease;
      color: #333;
      h3 {
        font-weight: 200;
        margin: 10px 0;
      }
      p {
        margin: 10px 0;
      }
      p, i {
        font-size: 13px;
      }
    }
  }
  .line {
    position: absolute;
    height: 2px;
    background: #1E88E5;
    width: 25%;
    top: 2.65rem;
    left: 0;
    transition: 0.25s ease;
  }
  
}
.accordion {
  .accordion-item {
    // border-bottom: 1px solid $mint;
    margin:0;
    padding: 0;
    button[aria-expanded='true'] {
      border-bottom: 1px solid $purple;
    }
  }
  button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    color: $sec;
    font-size: 1.05rem;
    // font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover, &:focus {
      cursor: pointer;
      color: $purple;
      &::after {
        cursor: pointer;
        color: $purple;
        border: 1px solid $purple;
      }
    }
    .accordion-title {
      padding: 0em 1.5em 0em 0;
    }
    .icon {
      display: flex;
      position: absolute;
      // top: 18px;
      right: 0.5rem;
      width: 20px;
      height: 20px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        font: var(--fa-font-solid);
        content: "\f068";
        top: 2px;
        left: 3px;
      }
      &::after {
        display: block;
        position: absolute;
        font: var(--fa-font-solid);
        content: "\f067";
        top: 2px;
        left: 3px;
      }
    }
  }
  button[aria-expanded='true'] {
    color: $purple;
    .icon {
      &::after {
        width: 0;
        opacity: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 12em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow-x: auto;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    ul {
      list-style-type: none;
      margin:0;
      padding:0;
    }
    li a {
      font-size: 0.75rem;
      font-weight: 300;
      margin: 2em;
      padding-left: 0.25rem;
      text-decoration: none;
      color: $sec;
      &:hover {
        color: $turqoise;
      }
    }
  }
}
.grp-container {
  margin: 0 auto;
  padding: 0.25rem 0 0;
  width: 100%;
  h1 {
    font-size: 1.5rem;
  }
}