@import "vars";
@import "lib/normalize";
@import "lib/solid.scss";
@import "lib/devicon";

@import "base";
@import "animation";
@import "projects";
@import "header";
@import "search";
@import "navtable";
@import "grid";
@import "footer";
@import "fontawesome/fontawesome";

.container {
  position: fixed;
  top: 15vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.viewpanel {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 100%;
  overflow: scroll;
  background-color: $main;
  padding: 0 1rem;
  .sticky {
    display: flex;
    position: sticky;
    top: 0;
    background-color: $main;
    padding: 0.5rem 0;
    justify-content: center;
  }
  h2 {
    display: flex;
    align-self: center;
    color: $flax;
    i{
      line-height: inherit;
      margin-right: 0.5em;
    }
  }
  h3 {
    color: $flax;
  }
  p {
    color: $mint;
    margin: 2vw 4vw;
  }
  ul {
    list-style-type: disc;
    // padding-left: 0;
    li {
      color: $mint;
    }
  }
  em {
    display: flex;
    flex: 1 0 100%;
    font-weight: bold;
    text-decoration: underline;
  }
}
