{% macro laws() %}
<div class="accordion">
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">Heuristics</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul class="links">
        <li><a href="/muux/laws/aesthetic-usability-effect" data-page-link="">Aesthetic-Usability Effect</a>
        </li>
        <li><a href="/muux/laws/fittss-law" data-page-link="">Fitts’s Law</a>
        </li>
        <li><a href="/muux/laws/goal-gradient-effect" data-page-link="">Goal-Gradient Effect</a>
        </li>
        <li><a href="/muux/laws/hicks-law" data-page-link="">Hick’s Law</a>
        </li>
        <li><a href="/muux/laws/jakobs-law" data-page-link="">Jakob’s Law</a>
        </li>
        <li><a href="/muux/laws/millers-law" data-page-link="">Miller’s Law</a>
        </li>
        <li><a href="/muux/laws/parkinsons-law" data-page-link="">Parkinson’s Law</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">Principle</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <ul class="links">
            <li><a href="/muux/laws/doherty-threshold" data-page-link="">Doherty Threshold</a>
            </li>
            <li><a href="/muux/laws/occams-razor" data-page-link="">Occam’s Razor</a>
            </li>
            <li><a href="/muux/laws/pareto-principle" data-page-link="">Pareto Principle</a>
            </li>
            <li><a href="/muux/laws/postels-law" data-page-link="">Postel’s Law</a>
            </li>
            <li><a href="/muux/laws/teslers-law" data-page-link="">Tesler’s Law</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">Gestalt</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <ul class="links">
            <li><a href="/muux/laws/law-of-common-region" data-page-link="">Law of Common Region</a>
            </li>
            <li><a href="/muux/laws/law-of-proximity" data-page-link="">Law of Proximity</a>
            </li>
            <li><a href="/muux/laws/law-of-pragnanz" data-page-link="">Law of Prägnanz</a>
            </li>
            <li><a href="/muux/laws/law-of-similarity" data-page-link="">Law of Similarity</a>
            </li>
            <li><a href="/muux/laws/law-of-uniform-connectedness" data-page-link="">Law of Uniform Connectedness</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">Cognitive Bias</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <ul class="links">
            <li><a href="/muux/laws/peak-end-rule" data-page-link="">Peak-End Rule</a>
            </li>
            <li><a href="/muux/laws/serial-position-effect" data-page-link="">Serial Position Effect</a>
            </li>
            <li><a href="/muux/laws/von-restorff-effect" data-page-link="">Von Restorff Effect</a>
            </li>
            <li><a href="/muux/laws/zeigarnik-effect" data-page-link="">Zeigarnik Effect</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
</div>
{% endmacro laws%}

{% macro uip() %}
<div class="accordion">
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">Getting Input</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Forms</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/input/pattern-strength-meter">Password Strength Meter</a>
            </li>
            <li class="">
              <a href="/muux/input/structured-format">Structured Format</a>
            </li>
            <li class="">
              <a href="/muux/input/captcha">Captcha</a>
            </li>
            <li class="">
              <a href="/muux/input/rule-builder">Rule Builder</a>
            </li>
            <li class="">
              <a href="/muux/input/keyboard-shortcuts">Keyboard Shortcuts</a>
            </li>
            <li class="">
              <a href="/muux/input/inplace-editor">Inplace Editor</a>
            </li>
            <li class="">
              <a href="/muux/input/preview">Preview</a>
            </li>
            <li class="">
              <a href="/muux/input/drag-n-drop">Drag and drop</a>
            </li>
            <li class="">
              <a href="/muux/input/expandable-input">Expandable Input</a>
            </li>
            <li class="">
              <a href="/muux/input/good-defaults">Good Defaults</a>
            </li>
            <li class="">
              <a href="/muux/input/autosave">Autosave</a>
            </li>
            <li class="">
              <a href="/muux/input/settings">Settings</a>
            </li>
            <li class="">
              <a href="/muux/input/fill-in-the-blanks">Fill in the Blanks</a>
            </li>
            <li class="">
              <a href="/muux/input/input-feedback">Input Feedback</a>
            </li>
            <li class="">
              <a href="/muux/input/wysiwyg">WYSIWYG</a>
            </li>
            <li class="">
              <a href="/muux/input/calendar-picker">Calendar Picker</a>
            </li>
            <li class="">
              <a href="/muux/input/undo">Undo</a>
            </li>
            <li class="">
              <a href="/muux/input/input prompt">Input Prompt</a>
            </li>
            <li class="">
              <a href="/muux/input/morphing-controls">Morphing Controls</a>
            </li>
            <li class="">
              <a href="/muux/input/forgiving-format">Forgiving Format</a>
            </li>     
          </ul>
        </li>
        <li>
          <strong>Explaining the process</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/input/wizard">Wizard</a>
            </li>
            <li class="">
              <a href="/muux/input/inline-help">Inline Help Box</a>
            </li>
            <li class="">
              <a href="/muux/input/steps-left">Steps Left</a>
            </li>
            <li class="">
              <a href="/muux/input/completeness-meter">Completeness meter</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Community driven</strong>
          <ul class="links">  
            <li class="">
              <a href="/muux/input/rate-content">Rate Content</a>
            </li>
            <li class="">
              <a href="/muux/input/wiki">Wiki</a>
            </li>
            <li class="">
              <a href="/muux/input/vote-to-promote">Vote To Promote</a>
            </li>
            <li class="">
              <a href="/muux/input/flagging-reporting">Flagging &amp; Reporting</a>
            </li>
            <li class="">
              <a href="/muux/input/pay-to-promote">Pay To Promote</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-2" aria-expanded="false">
      <span class="accordion-title">Navigation</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Tabs</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/navigate/navigate-tabs/">Navigation Tabs</a>
            </li>
            <li class="">
              <a href="/muux/navigate/module-tabs">Module Tabs</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Jumping in hierarchy</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/navigate/breadcrumbs">Breadcrumbs</a>
            </li>
            <li class="">
              <a href="/muux/navigate/fat-footer">Fat Footer</a>
            </li>
            <li class="">
              <a href="/muux/navigate/notifications">Notifications</a>
            </li>
            <li class="">
              <a href="/muux/navigate/shortcut-dropdown">Shortcut Dropdown</a>
            </li>
            <li class="">
              <a href="/muux/navigate/modal">Modal</a>
            </li>
            <li class="">
              <a href="/muux/navigate/home-link">Home Link</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Menus</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/navigate/vertical-dropdown-menu">Vertical Dropdown Menu</a>
            </li>
            <li class="">
              <a href="/muux/navigate/horizontal-dropdown-menu">Horizontal Dropdown Menu</a>
            </li>
            <li class="">
              <a href="/muux/navigate/accordion-menu">Accordion Menu</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Content</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/navigate/adaptable-view">Adaptable View</a>
            </li>
            <li class="">
              <a href="/muux/navigate/article-list">Article List</a>
            </li>
            <li class="">
              <a href="/muux/navigate/tagging">Tagging</a>
            </li>
            <li class="">
              <a href="/muux/navigate/pagination">Pagination</a>
            </li>
            <li class="">
              <a href="/muux/navigate/cards">Cards</a>
            </li>
            <li class="">
              <a href="/muux/navigate/carousel">Carousel</a>
            </li>
            <li class="">
              <a href="/muux/navigate/progressive-disclosure">Progressive Disclosure</a>
            </li>
            <li class="">
              <a href="/muux/navigate/archive">Archive</a>
            </li>
            <li class="">
              <a href="/muux/navigate/continuous-scrolling">Continuous Scrolling</a>
            </li>
            <li class="">
              <a href="/muux/navigate/event-calendar">Event Calendar</a>
            </li>
            <li class="">
              <a href="/muux/navigate/categorizations">Categorizations</a>
            </li>
            <li class="">
              <a href="/muux/navigate/thumbnail">Thumbnail</a>
            </li>
            <li class="">
              <a href="/muux/navigate/favourites">Favourites</a>
            </li>
            <li class="">
              <a href="/muux/navigate/tag-cloud">Tag Cloud</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Gestures</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/navigate/pull-to-refresh">Pull to refresh</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-3" aria-expanded="false">
      <span class="accordion-title">Handling Data</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Tables</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/handle-data/sort-by-column">Sort By Column</a>
            </li>
            <li class="">
              <a href="/muux/handle-data/alternating-row-colours">Alternating Row Colours</a>
            </li>
            <li class="">
              <a href="/muux/handle-data/table-filter">Table Filter</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Formatting data</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/handle-data/faqs">Frequently Asked Questions (FAQ)</a>
            </li>
            <li class="">
              <a href="/muux/handle-data/dashboard">Dashboard</a>
            </li>
            <li class="">
              <a href="/muux/handle-data/copy-box">Copy Box</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Images</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/handle-data/gallery">Gallery</a>
            </li>
            <li class="">
              <a href="/muux/handle-data/image-zoom">Image Zoom</a>
            </li>
            <li class="">
              <a href="/muux/handle-data/slideshow">Slideshow</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Search</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/handle-data/autocomplete">Autocomplete</a>
            </li>
            <li class="">
              <a href="/muux/handle-data/search-filters">Search Filters</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-4" aria-expanded="false">
      <span class="accordion-title">Onboarding</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Guidance</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/onboarding/playthrough">Playthrough</a>
            </li>
            <li class="">
              <a href="/muux/onboarding/coachmarks">Coachmarks</a>
            </li>
            <li class="">
              <a href="/muux/onboarding/guided-tours">Guided Tour</a>
            </li>
            <li class="">
              <a href="/muux/onboarding/inline-hints">Inline Hints</a>
            </li>
            <li class="">
              <a href="/muux/onboarding/walkthrough">Walkthrough</a>
            </li>
            <li class="">
              <a href="/muux/onboarding/blank-slate">Blank Slate</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Registration</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/onboarding/lazy-registration">Lazy Registration</a>
            </li>
            <li class="">
              <a href="/muux/onboarding/paywall">Paywall</a>
            </li>
            <li class="">
              <a href="/muux/onboarding/account-registration">Account Registration</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-5" aria-expanded="false">
      <span class="accordion-title">Social</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Reputation</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/social/collectible">Collectible Achievements</a>
            </li>
            <li class="">
              <a href="/muux/social/testimonials">Testimonials</a>
            </li>
            <li class="">
              <a href="/muux/social/leaderboard">Leaderboard</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Social interactions</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/social/activity-stream">Activity Stream</a>
            </li>
            <li class="">
              <a href="/muux/social/auto-sharing">Auto-sharing</a>
            </li>
            <li class="">
              <a href="/muux/social/friends-list">Friend list</a>
            </li>
            <li class="">
              <a href="/muux/social/friend">Friend</a>
            </li>
            <li class="">
              <a href="/muux/social/reaction">Reaction</a>
            </li>
            <li class="">
              <a href="/muux/social/follow">Follow</a>
            </li>
            <li class="">
              <a href="/muux/social/chat">Chat</a>
            </li>
            <li class="">
              <a href="/muux/social/invite">Invite friends</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-6" aria-expanded="false">
      <span class="accordion-title">Miscellaneous</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Shopping</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/misc/product-page">Product page</a>
            </li>
            <li class="">
              <a href="/muux/misc/coupon">Coupon</a>
            </li>
            <li class="">
              <a href="/muux/misc/shopping-cart">Shopping Cart</a>
            </li>
            <li class="">
              <a href="/muux/misc/pricing-table">Pricing table</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Increasing frequency</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/misc/tip-a-friend">Tip A Friend</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endmacro uip %}

{% macro pdp() %}
<div class="accordion">
  <div class="accordion-item">
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
        <span class="accordion-title">Cognition</span>
        <span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <ul>
          <li>
            <strong>Loss Aversion</strong>
            <ul class="links">
              <li class="">
                <a href="/muux/cognition/status-quo-bias">Status-Quo Bias</a>
              </li>
              <li class="">
                <a href="/muux/cognition/optimism-bias">Optimism Bias</a>
              </li>
              <li class="">
                <a href="/muux/cognition/framing">Framing</a>
              </li>
              <li class="">
                <a href="/muux/cognition/decoy-effect">Decoy Effect</a>
              </li>
              <li class="">
                <a href="/muux/cognition/ikea-effect">IKEA effect</a>
              </li>
              <li class="">
                <a href="/muux/cognition/loss-aversion">Loss Aversion</a>
              </li>
              <li class="">
                <a href="/muux/cognition/endowment-effect">Endowment Effect</a>
              </li>
              <li class="">
                <a href="/muux/cognition/sunk-cost-effect">Sunk Cost Effect</a>
              </li>
              <li class="">
                <a href="/muux/cognition/negativity-bias">Negativity bias</a>
              </li>
            </ul>
          </li>
          <li>
            <strong>Other cognitive biases</strong>
            <ul class="links">
              <li class="">
                <a href="/muux/cognition/illusion-of-control">Illusion of control</a>
              </li>
              <li class="">
                <a href="/muux/cognition/set-completion">Set Completion</a>
              </li>
              <li class="">
                <a href="/muux/cognition/present-bias">Present Bias</a>
              </li>
              <li class="">
                <a href="/muux/cognition/delay-discounting">Delay discounting</a>
              </li>
              <li class="">
                <a href="/muux/cognition/need-for-closure">Need for closure</a>
              </li>
              <li class="">
                <a href="/muux/cognition/curiosity">Curiosity</a>
              </li>
              <li class="">
                <a href="/muux/cognition/priming-effect">Priming Effect</a>
              </li>
              <li class="">
                <a href="/muux/cognition/value-attribution">Value attribution</a>
              </li>
              <li class="">
                <a href="/muux/cognition/choice-closure">Choice Closure</a>
              </li>
              <li class="">
                <a href="/muux/cognition/cashless-effect">Cashless Effect</a>
              </li>
              <li class="">
                <a href="/muux/cognition/temptation-bundling">Temptation Bundling</a>
              </li>
              <li class="">
                <a href="/muux/cognition/inaction-inertia-effect">Inaction Inertia Effect</a>
              </li>
            </ul>
          </li>
          <li>
            <strong>Scarcity</strong>
            <ul class="links">
              <li class="">
                <a href="/muux/cognition/limited-choice">Limited choice</a>
              </li>
              <li class="">
                <a href="/muux/cognition/scarcity">Scarcity</a>
              </li>
              <li class="">
                <a href="/muux/cognition/limited-duration">Limited duration</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
        <span class="accordion-title">Game Mechanics</span>
        <span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <ul>
          <li>
            <strong>Gameplay design</strong>
            <ul>
              <li class="">
                <a href="/muux/gaming/appropriate-challenge">Appropriate challenge</a>
              </li>
              <li class="">
                <a href="/muux/gaming/storytelling">Storytelling</a>
              </li>
              <li class="">
                <a href="/muux/gaming/intentional-gaps">Intentional gaps</a>
              </li>
              <li class="">
                <a href="/muux/gaming/periodic-events">Periodic Events</a>
              </li>
              <li class="">
                <a href="/muux/gaming/investment-loops">Investment Loops</a>
              </li>
              <li class="">
                <a href="/muux/gaming/hedonic-adaptation">Hedonic Adaptation</a>
              </li>
              <li class="">
                <a href="/muux/gaming/self-monitoring">Self-Monitoring</a>
              </li>
              <li class="">
                <a href="/muux/gaming/levels">Levels</a>
              </li>
            </ul>
          </li>
          <li>
            <strong>Fundamentals of rewards</strong>
            <ul class="links">
        
            <li class="">
              <a href="/muux/gaming/variable-rewards">Variable rewards</a>
            </li>
            <li class="">
              <a href="/muux/gaming/fixed-rewards">Fixed rewards</a>
            </li>
            <li class="">
              <a href="/muux/gaming/shaping">Shaping</a>
            </li>
        
        </ul>
        
          </li>
          <li>
            <strong>Gameplay rewards</strong>
            <ul class="links">
              <li class="">
                <a href="/muux/gaming/privileges">Privileges</a>
              </li>
              <li class="">
                <a href="/muux/gaming/praise">Praise</a>
              </li>
              <li class="">
                <a href="/muux/gaming/unlock-features">Unlock features</a>
              </li>
              <li class="">
                <a href="/muux/gaming/delighters">Delighters</a>
              </li>
              <li class="">
                <a href="/muux/gaming/achievements">Achievements</a>
              </li>
              <li class="">
                <a href="/muux/gaming/appointment-dynamic">Appointment Dynamic</a>
              </li>
              <li class="">
                <a href="/muux/gaming/prolonged-play">Prolonged play</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">Perception & Memory</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Attention</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/perception/tunnelling">Tunnelling</a>
            </li>
            <li class="">
              <a href="/muux/perception/reduction">Reduction</a>
            </li>
            <li class="">
              <a href="/muux/perception/isolation-effect">Isolation Effect</a>
            </li>
            <li class="">
              <a href="/muux/perception/picture-superiority-effect">Picture Superiority Effect</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>Comprehension</strong>
          <ul class="links">
      
          <li class="">
            <a href="/muux/perception/recognition-over-recall">Recognition over Recall</a>
          </li>
          <li class="">
            <a href="/muux/perception/chunking">Chunking</a>
          </li>
          <li class="">
            <a href="/muux/perception/anchoring">Anchoring</a>
          </li>
          <li class="">
            <a href="/muux/perception/serial-positioning-effect">Serial Positioning Effect</a>
          </li>
          <li class="">
            <a href="/muux/perception/pattern-recognition">Pattern recognition</a>
          </li>
          <li class="">
            <a href="/muux/perception/conceptual-metaphor">Conceptual metaphor</a>
          </li>
          <li class="">
            <a href="/muux/perception/sequencing">Sequencing</a>
          </li>
      
      </ul>
      
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">Feedback</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Timing</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/feedback/kairos">Kairos</a>
            </li>
            <li class="">
              <a href="/muux/feedback/feedback-loops">Feedback loops</a>
            </li>
            <li class="">
              <a href="/muux/feedback/tailoring">Tailoring</a>
            </li>
            <li class="">
              <a href="/muux/feedback/trigger">Trigger</a>
            </li>
            <li class="">
              <a href="/muux/feedback/simulation">Simulation</a>
            </li>
            <li class="">
              <a href="/muux/feedback/fresh-start">Fresh Start Effect</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">Social</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <ul>
        <li>
          <strong>Social biases</strong>
          <ul class="links">
            <li class="">
              <a href="/muux/">Authority</a>
            </li>
            <li class="">
              <a href="/muux/">Liking</a>
            </li>
            <li class="">
              <a href="/muux/">Role playing</a>
            </li>
            <li class="">
              <a href="/muux/">Self-Expression</a>
            </li>
            <li class="">
              <a href="/muux/">Reciprocation</a>
            </li>
            <li class="">
              <a href="/muux/">Social proof</a>
            </li>
            <li class="">
              <a href="/muux/">Positive mimicry</a>
            </li>
            <li class="">
              <a href="/muux/">Cognitive Dissonance</a>
            </li>
            <li class="">
              <a href="/muux/">Commitment &amp; consistency</a>
            </li>
            <li class="">
              <a href="/muux/">Reputation</a>
            </li>
            <li class="">
              <a href="/muux/">Halo Effect</a>
            </li>
            <li class="">
              <a href="/muux/">Nostalgia Effect</a>
            </li>
            <li class="">
              <a href="/muux/">Competition</a>
            </li>
            <li class="">
              <a href="/muux/">Autonomy</a>
            </li>
            <li class="">
              <a href="/muux/">Retaliation</a>
            </li>
            <li class="">
              <a href="/muux/">Status</a>
            </li>
            <li class="">
              <a href="/muux/">Noble Edge Effect</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endmacro pdp %}
{% macro dpp() %}
<div class="accordion">
  <div class="accordion-item">
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
        <span class="accordion-title">Forced Action</span>
        <span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <ul>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/gamify">Gamification</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/socpyramid">Social Pyramid</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/zuckering">Privacy Zuckering</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
        <span class="accordion-title">Sneaking</span>
        <span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <ul>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/baitswitch">Bait & Switch</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/dark/covertask">Covert Ask</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/confirmshaming">ConfirmShaming</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/hiddencosts">Hidden Costs</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/sneakbasket">Sneak into Basket</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
        <span class="accordion-title">Interference</span>
        <span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <ul>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/falsehierarchy">False Hierarchy</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/sneakbasket">Sneak into Basket</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/toying">Toying with Emotions</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/trickq">Trick Questions</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
        <span class="accordion-title">Obstruction</span>
        <span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <ul>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/asympresent">Asymmetric Presentation</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/dark/intercurrrency">Intermediate Currency</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="links">
              <li class="">
                <a href="/muux/dark/roachmotel">Roach Motel</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endmacro dpp %}
