{% extends "index.html" %} {% block content %} {{ page.content | safe }}

<div class="user-projects">
  {% for asset in page.assets -%}
  <a href="/laws/{{ page.slug}}" target="_blank">
    <img src="{{ asset}}" />
  </a>
  {%- endfor %}
</div>

{% endblock content %}
