<ul class="grid">
  <li class="grid__item" data-category="heuristic">
    <article class="card" style="background-color:#506485">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 566 566" xmlns="http://www.w3.org/2000/svg">
          <circle style="--animation-order: 1" fill-opacity=".15" fill="#000" cx="282.882" cy="282.882" r="282.882"></circle>
          <path style="--animation-order: 2" fill-opacity=".15" fill="#000" d="M82.937 82.897h399.886v399.967H82.937z"></path>
          <path style="--animation-order: 3" fill="#f4f1d0" d="M282.88 82.897l199.943 399.966H82.937z"></path>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/aesthetic-usability-effect/" data-page-link="">Aesthetic-Usability Effect</a>
        </h2>
        <p class="card__desc">Users often perceive aesthetically pleasing design as design that’s more usable.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="principle">
    <article class="card" style="background-color:#a6307f">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 566 566" xmlns="http://www.w3.org/2000/svg">
          <circle style="--animation-order: 1" fill-opacity=".15" fill="#000" cx="282.882" cy="282.882" r="282.882"></circle>
          <circle style="--animation-order: 2" fill-opacity=".15" fill="#000" cx="282.861" cy="282.861" r="207.861"></circle>
          <circle style="--animation-order: 3" fill-opacity=".15" fill="#000" cx="283.212" cy="283.212" r="134.212"></circle>
          <circle style="--animation-order: 4" fill="#f4f1d0" cx="283.213" cy="283.213" r="60.213"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/doherty-threshold/" data-page-link="">Doherty Threshold</a>
        </h2>
        <p class="card__desc">Productivity soars when a computer and its users interact at a pace (&lt;400ms) that ensures that neither has to wait on the other.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="heuristic">
    <article class="card" style="background-color:#5d883a">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 566 566" xmlns="http://www.w3.org/2000/svg">
          <g stroke="#f4f1d0" stroke-width="30" fill="none" fill-rule="evenodd">
            <circle style="--animation-order: 1" cx="282.882" cy="282.882" r="267.882"></circle>
            <circle style="--animation-order: 2" cx="282.861" cy="282.861" r="192.861"></circle>
            <circle style="--animation-order: 3" cx="283.212" cy="283.212" r="119.212"></circle>
            <circle style="--animation-order: 4" cx="283.213" cy="283.213" r="45.213"></circle>
          </g>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/fittss-law/" data-page-link="">Fitts’s Law</a>
        </h2>
        <p class="card__desc">The time to acquire a target is a function of the distance to and size of the target.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="heuristic">
    <article class="card" style="background-color:#42928c">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 697 702" xmlns="http://www.w3.org/2000/svg">
          <g fill="#f4f1d0" fill-rule="evenodd">
            <path style="--animation-order: 3.5" fill-opacity=".1" d="M0 618h697v84H0z"></path>
            <path style="--animation-order: 3" fill-opacity=".2" d="M0 515h697v84H0z"></path>
            <path style="--animation-order: 2.5" fill-opacity=".3" d="M0 412h697v84H0z"></path>
            <path style="--animation-order: 2" fill-opacity=".4" d="M0 309h697v84H0z"></path>
            <path style="--animation-order: 1.5" fill-opacity=".6" d="M0 206h697v84H0z"></path>
            <path style="--animation-order: 1" fill-opacity=".8" d="M0 103h697v84H0z"></path>
            <path style="--animation-order: 0.5" d="M0 0h697v84H0z"></path>
          </g>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/goal-gradient-effect/" data-page-link="">Goal-Gradient Effect</a>
        </h2>
        <p class="card__desc">The tendency to approach a goal increases with proximity to the goal.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="heuristic">
    <article class="card" style="background-color:#297aa3">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 565 564">
          <circle style="--animation-order: 1" cx="34" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="118" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="199" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="283" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="365" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="449" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="531" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="34" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="118" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="199" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="283" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="365" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="449" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="531" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="34" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="118" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="449" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="531" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 4" cx="34" cy="282" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 4" cx="118" cy="282" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 4" cx="449" cy="282" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 4" cx="531" cy="282" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="34" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="118" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="449" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="531" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="34" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="118" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="199" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="283" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="365" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="449" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="531" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="34" cy="530" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="118" cy="530" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="199" cy="530" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="283" cy="530" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="365" cy="530" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="449" cy="530" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="531" cy="530" r="34" fill="#000" fill-opacity=".2"></circle>
          <path style="--animation-order: 4" fill="#f4f1d0" fill-rule="nonzero" d="M317 248h-68v68h68v-68zm-22 46h-25v-25h25v25zm91-22.88889v-22.77778h-22.77778v-22.77777c0-12.52778-10.25-22.77778-22.77778-22.77778h-22.77777V180h-22.77778v22.77778H272.1111V180h-22.77778v22.77778h-22.77777c-12.52778.0-22.77778 10.25-22.77778 22.77778v22.77777H181v22.77778h22.77778v22.77778H181v22.77778h22.77778v22.77777c0 12.52778 10.25 22.77778 22.77778 22.77778h22.77777V385h22.77778v-22.77778h22.77778V385h22.77778v-22.77778h22.77777c12.52778.0 22.77778-10.25 22.77778-22.77778v-22.77777H386v-22.77778h-22.77778V271.1111H386zM341 340H225V224h116v116z"></path>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/hicks-law/" data-page-link="">Hick’s Law</a>
        </h2>
        <p class="card__desc">The time it takes to make a decision increases with the number and complexity of choices.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="heuristic">
    <article class="card" style="background-color:#96881d">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 567 563">
          <g fill="none" fill-rule="evenodd" stroke="#f4f1d0" stroke-width="30">
            <path style="--animation-order: 1" d="M15 98h454v450H15z"></path>
            <path style="--animation-order: 2" d="M98 15h454v450H98z"></path>
          </g>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/jakobs-law/" data-page-link="">Jakob’s Law</a>
        </h2>
        <p class="card__desc">Users spend most of their time on other sites. This means that users prefer your site to work the same way as all the other sites they already know.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="gestalt">
    <article class="card" style="background-color:#249966">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 566 566" xmlns="http://www.w3.org/2000/svg">
          <path style="--animation-order: 1" fill-opacity=".1" fill="#000" d="M0 0h566v566H0z"></path>
          <path style="--animation-order: 2" fill-opacity=".1" fill="#000" d="M40 40h486v486H40z"></path>
          <path style="--animation-order: 3" fill-opacity=".1" fill="#000" d="M80 80h406v406H80z"></path>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="168" cy="168" r="48"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="284" cy="168" r="48"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="398" cy="168" r="48"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="167.209" cy="282.437" r="47.247"></circle>
          <circle style="--animation-order: 4" fill="#f4f1d0" cx="283.936" cy="282.437" r="47.247"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="398" cy="282" r="48"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="168" cy="398" r="48"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="284" cy="398" r="48"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="398" cy="398" r="48"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/law-of-common-region/" data-page-link="">Law of Common Region</a>
        </h2>
        <p class="card__desc">Elements tend to be perceived into groups if they are sharing an area with a clearly defined boundary.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="gestalt">
    <article class="card" style="background-color:#de6717">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 566 516">
          <circle style="--animation-order: 0.25" cx="55.5" cy="55.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 0.5" cx="190.5" cy="55.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 0.75" cx="325.5" cy="55.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 1.25" cx="55.5" cy="190.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 1.5" cx="190.5" cy="190.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 1.75" cx="325.5" cy="190.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 2" cx="55.5" cy="325.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 2.25" cx="190.5" cy="325.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 2.5" cx="325.5" cy="325.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 2.75" cx="55.5" cy="460.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 3" cx="190.5" cy="460.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 3.25" cx="325.5" cy="460.5" r="55.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 3.5" cx="510.5" cy="55.5" r="55.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3.75" cx="510.5" cy="190.5" r="55.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 4" cx="510.5" cy="325.5" r="55.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 4.25" cx="510.5" cy="460.5" r="55.5" fill="#000" fill-opacity=".2"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/law-of-proximity/" data-page-link="">Law of Proximity</a>
        </h2>
        <p class="card__desc">Objects that are near, or proximate to each other, tend to be grouped together.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="gestalt">
    <article class="card" style="background-color:#e3548d">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 567 507">
          <path style="--animation-order: 1" d="M77.5218237 15.8098047 18.2743646 118.429414 77.5218237 221.049023H196.016742L255.264201 118.429414 196.016742 15.8098047H77.5218237zM68.8615697.809804688H204.676996L272.584709 118.429414 204.676996 236.049023H68.8615697L.953856568 118.429414 68.8615697.809804688zM71 1H205V236H71V1zM86 16V221H190V16H86zM14.9246324 126V111H260.089469v15H14.9246324zM272 118.5 68 236 124.328358 118.5 68 1 272 118.5zM102.44341 38.148972 140.962912 118.5 102.44341 198.851028 241.946471 118.5 102.44341 38.148972zM1 118.5 205 1 146 118.5 205 236 1 118.5zM169.156836 198.044797 129.215193 118.5l39.941643-79.5447972L31.0535285 118.5 169.156836 198.044797z" fill="#f4f1d0" fill-rule="nonzero"></path>
          <path style="--animation-order: 2" d="M372.521824 15.8098047 313.274365 118.429414 372.521824 221.049023H491.016742L550.264201 118.429414 491.016742 15.8098047H372.521824zM363.86157.809804688H499.676996L567.584709 118.429414 499.676996 236.049023H363.86157L295.953857 118.429414 363.86157.809804688zM366 1H5e2V236H366V1zm15 15V221H485V16H381zM309.924632 126V111H555.089469v15H309.924632z" fill="#f4f1d0" fill-rule="nonzero"></path>
          <path style="--animation-order: 3" d="M73.1916967 278.309805H200.346869L263.924455 388.429414 200.346869 498.549023H73.1916967L9.61411061 388.429414 73.1916967 278.309805zm127.1551723.0H73.1916967L9.61411061 388.429414 73.1916967 498.549023H200.346869L263.924455 388.429414 200.346869 278.309805z" stroke="#f4f1d0" stroke-width="15" fill-rule="nonzero"></path>
          <circle style="--animation-order: 4" stroke="#f4f1d0" stroke-width="15" cx="432.5" cy="388.5" r="110" fill="none"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/law-of-pr%C3%A4gnanz/" data-page-link="">Law of Prägnanz</a>
        </h2>
        <p class="card__desc">People will perceive and interpret ambiguous or complex images as the simplest form possible, because it is the interpretation that requires the least cognitive effort of us.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="gestalt">
    <article class="card" style="background-color:#7e3e57">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 566 565" xmlns="http://www.w3.org/2000/svg">
          <circle style="--animation-order: 1" fill="#f4f1d0" cx="48.5" cy="48.5" r="48.5"></circle>
          <circle style="--animation-order: 1" fill-opacity=".2" fill="#000" cx="166.5" cy="48.5" r="48.5"></circle>
          <circle style="--animation-order: 1" fill="#f4f1d0" cx="283.5" cy="48.5" r="48.5"></circle>
          <circle style="--animation-order: 1" fill-opacity=".2" fill="#000" cx="400.5" cy="48.5" r="48.5"></circle>
          <circle style="--animation-order: 1" fill-opacity=".2" fill="#000" cx="517.5" cy="48.5" r="48.5"></circle>
          <circle style="--animation-order: 2" fill-opacity=".2" fill="#000" cx="48.5" cy="165.5" r="48.5"></circle>
          <circle style="--animation-order: 2" fill-opacity=".2" fill="#000" cx="166.5" cy="165.5" r="48.5"></circle>
          <circle style="--animation-order: 2" fill-opacity=".2" fill="#000" cx="283.5" cy="165.5" r="48.5"></circle>
          <circle style="--animation-order: 2" fill="#f4f1d0" cx="400.5" cy="165.5" r="48.5"></circle>
          <circle style="--animation-order: 2" fill-opacity=".2" fill="#000" cx="517.5" cy="165.5" r="48.5"></circle>
          <circle style="--animation-order: 3" fill-opacity=".2" fill="#000" cx="48.5" cy="282.5" r="48.5"></circle>
          <circle style="--animation-order: 3" fill-opacity=".2" fill="#000" cx="166.5" cy="282.5" r="48.5"></circle>
          <circle style="--animation-order: 3" fill="#f4f1d0" cx="283.5" cy="282.5" r="48.5"></circle>
          <circle style="--animation-order: 3" fill-opacity=".2" fill="#000" cx="400.5" cy="282.5" r="48.5"></circle>
          <circle style="--animation-order: 3" fill-opacity=".2" fill="#000" cx="517.5" cy="282.5" r="48.5"></circle>
          <circle style="--animation-order: 4" fill="#f4f1d0" cx="48.5" cy="399.5" r="48.5"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="166.5" cy="399.5" r="48.5"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="283.5" cy="399.5" r="48.5"></circle>
          <circle style="--animation-order: 4" fill-opacity=".2" fill="#000" cx="400.5" cy="399.5" r="48.5"></circle>
          <circle style="--animation-order: 4" fill="#f4f1d0" cx="517.5" cy="399.5" r="48.5"></circle>
          <circle style="--animation-order: 5" fill-opacity=".2" fill="#000" cx="48.5" cy="516.5" r="48.5"></circle>
          <circle style="--animation-order: 5" fill="#f4f1d0" cx="166.5" cy="516.5" r="48.5"></circle>
          <circle style="--animation-order: 5" fill-opacity=".2" fill="#000" cx="283.5" cy="516.5" r="48.5"></circle>
          <circle style="--animation-order: 5" fill-opacity=".2" fill="#000" cx="400.5" cy="516.5" r="48.5"></circle>
          <circle style="--animation-order: 5" fill-opacity=".2" fill="#000" cx="517.5" cy="516.5" r="48.5"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/law-of-similarity/" data-page-link="">Law of Similarity</a>
        </h2>
        <p class="card__desc">The human eye tends to perceive similar elements in a design as a complete picture, shape, or group, even if those elements are separated.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="gestalt">
    <article class="card" style="background-color:#6c88c1">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 576 566" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <circle style="--animation-order: 1" stroke="#f4f1d0" stroke-width="3" cx="282.882" cy="282.882" r="281.382"></circle>
            <circle fill="#f4f1d0" cx="179" cy="22" r="12"></circle>
            <circle fill="#f4f1d0" cx="564" cy="271" r="12"></circle>
            <circle fill="#f4f1d0" cx="37" cy="417" r="12"></circle>
            <circle style="--animation-order: 2" stroke="#f4f1d0" stroke-width="3" cx="282.861" cy="282.861" r="206.361"></circle>
            <circle fill="#f4f1d0" cx="80" cy="247" r="12"></circle>
            <circle fill="#f4f1d0" cx="343" cy="86" r="12"></circle>
            <circle fill="#f4f1d0" cx="383" cy="464" r="12"></circle>
            <circle style="--animation-order: 3" stroke="#f4f1d0" stroke-width="3" cx="283.212" cy="283.212" r="132.712"></circle>
            <circle fill="#f4f1d0" cx="403" cy="343" r="12"></circle>
            <circle fill="#f4f1d0" cx="223" cy="402" r="12"></circle>
            <circle fill="#f4f1d0" cx="223" cy="165" r="12"></circle>
            <circle style="--animation-order: 4" stroke="#f4f1d0" stroke-width="3" cx="283.213" cy="283.213" r="58.713"></circle>
            <circle fill="#f4f1d0" cx="324" cy="240" r="12"></circle><circle fill="#f4f1d0" cx="294" cy="340" r="12"></circle>
            <circle fill="#f4f1d0" cx="226" cy="271" r="12"></circle>
          </g>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/law-of-uniform-connectedness/" data-page-link="">Law of Uniform Connectedness</a>
        </h2>
        <p class="card__desc">Elements that are visually connected are perceived as more related than elements with no connection.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="heuristic">
    <article class="card" style="background-color:#e95444">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 565 564">
          <circle style="--animation-order: 1" cx="34" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="118" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="199" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="283" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="365" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="449" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="531" cy="34" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="34" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="118" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="199" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="283" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="365" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="449" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="531" cy="117" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="34" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="118" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="199" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="283" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="365" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="449" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="531" cy="199" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 4" cx="34" cy="282" r="34" fill="#f4f1d0" fill-opacity=".25"></circle>
          <circle style="--animation-order: 4" cx="118" cy="282" r="34" fill="#f4f1d0" fill-opacity=".5"></circle>
          <circle style="--animation-order: 4" cx="199" cy="282" r="34" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 4" cx="283" cy="282" r="34" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 4" cx="365" cy="282" r="34" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 4" cx="449" cy="282" r="34" fill="#f4f1d0" fill-opacity=".5"></circle>
          <circle style="--animation-order: 4" cx="531" cy="282" r="34" fill="#f4f1d0" fill-opacity=".25"></circle>
          <circle style="--animation-order: 3" cx="34" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="118" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="199" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="283" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="365" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="449" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="531" cy="365" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="34" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="118" cy="448" r="34" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="199" cy="448" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 2" cx="283" cy="448" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 2" cx="365" cy="448" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 2" cx="449" cy="448" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 2" cx="531" cy="448" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 1" cx="34" cy="530" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 1" cx="118" cy="530" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 1" cx="199" cy="530" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 1" cx="283" cy="530" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 1" cx="365" cy="530" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 1" cx="449" cy="530" r="34" fill="#000" fill-opacity=".2"></circle><circle style="--animation-order: 1" cx="531" cy="530" r="34" fill="#000" fill-opacity=".2"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/millers-law/" data-page-link="">Miller’s Law</a>
        </h2>
        <p class="card__desc">The average person can only keep 7 (plus or minus 2) items in their working memory.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="principle">
    <article class="card" style="background-color:#ae4442">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 565 564">
          <path style="--animation-order: 1" fill-opacity=".1" fill="#000" d="M1 0h270v270H1z"></path>
          <circle style="--animation-order: 2" fill-opacity=".15" fill="#000" cx="100" cy="100" r="100"></circle>
          <circle style="--animation-order: 2" fill-opacity=".15" fill="#000" cx="171" cy="100" r="100"></circle>
          <circle style="--animation-order: 2" fill-opacity=".15" fill="#000" cx="101" cy="170" r="100"></circle>
          <circle style="--animation-order: 2" fill-opacity=".15" fill="#000" cx="171" cy="170" r="100"></circle>
          <path style="--animation-order: 1" fill-opacity=".1" fill="#000" d="M295 0h270v270H295z"></path>
          <circle style="--animation-order: 3" fill-opacity=".15" fill="#000" cx="430" cy="100" r="100"></circle>
          <circle style="--animation-order: 3" fill-opacity=".15" fill="#000" cx="395" cy="170" r="100"></circle>
          <circle style="--animation-order: 3" fill-opacity=".15" fill="#000" cx="465" cy="170" r="100"></circle>
          <path style="--animation-order: 1" fill-opacity=".1" fill="#000" d="M1 294h270v270H1z"></path>
          <circle style="--animation-order: 3" fill-opacity=".15" fill="#000" cx="101" cy="394" r="100"></circle>
          <circle style="--animation-order: 3" fill-opacity=".15" fill="#000" cx="171" cy="464" r="100"></circle>
          <path style="--animation-order: 1" fill-opacity=".1" fill="#000" d="M295 294h270v270H295z"></path>
          <circle style="--animation-order: 4" fill="#f4f1d0" cx="430" cy="429" r="100"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/occams-razor/" data-page-link="">Occam’s Razor</a>
        </h2>
        <p class="card__desc">Among competing hypotheses that predict equally well, the one with the fewest assumptions should be selected.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="principle">
    <article class="card" style="background-color:#2497a8">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 566 565">
          <circle style="--animation-order: 1" cx="48.5" cy="48.5" r="48.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 1" cx="166.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="283.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="400.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="517.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="48.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="166.5" cy="165.5" r="48.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 2" cx="283.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="400.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="517.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="48.5" cy="282.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="166.5" cy="282.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="283.5" cy="282.5" r="48.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 3" cx="400.5" cy="282.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="517.5" cy="282.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="48.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="166.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="283.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="400.5" cy="399.5" r="48.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 2" cx="517.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="48.5" cy="516.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="166.5" cy="516.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="283.5" cy="516.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="400.5" cy="516.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="517.5" cy="516.5" r="48.5" fill="#f4f1d0"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/pareto-principle/" data-page-link="">Pareto Principle</a>
        </h2>
        <p class="card__desc">The Pareto principle states that, for many events, roughly 80% of the effects come from 20% of the causes.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="heuristic">
    <article class="card" style="background-color:#97873b">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605 604">
          <path style="--animation-order: 1" fill="#f4f1d0" fill-rule="nonzero" stroke="#f4f1d0" stroke-width="5" d="M302.854 600.338l-143.63-143.631-49.265 49.264 54.302.048v13.71H86.479v-77.783h13.709l.049 54.302 49.263-49.264L3.747 301.232l142.925-142.924-47.85-47.849-.048 54.302h-13.71V86.979h77.782v13.709l-54.301.049 47.85 47.848L301.439 3.54l145.046 145.045 48.556-48.556-54.302-.048V86.27h77.782v77.783h-13.709l-.049-54.302-48.555 48.556 144.338 144.338-144.338 144.338 49.263 49.264.048-54.302h13.71v77.782h-77.783V506.02l54.302-.048-49.263-49.264-143.631 143.631zM572.26 302.646 301.44 31.825 32.032 301.232l270.822 270.822L572.26 302.646z"></path>
          <circle style="--animation-order: 2" cx="302.5" cy="303.5" r="54.5" fill="#000" fill-opacity=".2"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/parkinsons-law/" data-page-link="">Parkinson’s Law</a>
        </h2>
        <p class="card__desc">Any task will inflate until all of the available time is spent.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="cognitive bias">
    <article class="card" style="background-color:#307ec7">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 566 565">
          <circle style="--animation-order: 1" cx="48.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="166.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="283.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="400.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="517.5" cy="48.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="48.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="166.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="283.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="400.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="517.5" cy="165.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="48.5" cy="282.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="166.5" cy="282.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="283.5" cy="282.5" r="48.5" fill="#f4f1d0"></circle>
          <circle style="--animation-order: 3" cx="400.5" cy="282.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 3" cx="517.5" cy="282.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="48.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="166.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="283.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="400.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 2" cx="517.5" cy="399.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="48.5" cy="516.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="166.5" cy="516.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="283.5" cy="516.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="400.5" cy="516.5" r="48.5" fill="#000" fill-opacity=".2"></circle>
          <circle style="--animation-order: 1" cx="517.5" cy="516.5" r="48.5" fill="#f4f1d0"></circle>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/peak-end-rule/" data-page-link="">Peak-End Rule</a>
        </h2>
        <p class="card__desc">People judge an experience largely based on how they felt at its peak and at its end, rather than the total sum or average of every moment of the experience.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="principle">
    <article class="card" style="background-color:#41954e">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 567 580" xmlns="http://www.w3.org/2000/svg">
          <g fill="#f4f1d0" fill-rule="evenodd">
            <path style="--animation-order: 1" d="M94.5 145 0 0h189z"></path>
            <path style="--animation-order: 1" d="M283.5 145 189 0h189z"></path>
            <path style="--animation-order: 1" d="M472.5 145 378 0h189z"></path>
            <path style="--animation-order: 2" fill-opacity=".8" d="M94.5 290 0 145h189z"></path>
            <path style="--animation-order: 2" fill-opacity=".8" d="M283.5 290 189 145h189z"></path>
            <path style="--animation-order: 2" fill-opacity=".8" d="M472.5 290 378 145h189z"></path>
            <path style="--animation-order: 3" fill-opacity=".6" d="M94.5 435 0 290h189z"></path>
            <path style="--animation-order: 3" fill-opacity=".6" d="M283.5 435 189 290h189z"></path>
            <path style="--animation-order: 3" fill-opacity=".6" d="M472.5 435 378 290h189z"></path>
            <path style="--animation-order: 4" fill-opacity=".4" d="M94.5 580 0 435h189z"></path>
            <path style="--animation-order: 4" fill-opacity=".4" d="M283.5 580 189 435h189z"></path>
            <path style="--animation-order: 4" fill-opacity=".4" d="M472.5 580 378 435h189z"></path>
          </g>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/postels-law/" data-page-link="">Postel’s Law</a>
        </h2>
        <p class="card__desc">Be liberal in what you accept, and conservative in what you send.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="cognitive bias">
    <article class="card" style="background-color:#8959a8">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 566 569" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect style="--animation-order: 1" fill="#f4f1d0" x="0" y="0" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="148" y="0" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="295" y="0" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="444" y="0" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="0" y="149" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="148" y="149" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="295" y="149" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="444" y="149" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="0" y="298" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="148" y="298" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="295" y="298" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="444" y="298" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="0" y="447" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="148" y="447" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="295" y="447" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#f4f1d0" x="444" y="447" width="122" height="122"></rect>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/serial-position-effect/" data-page-link="">Serial Position Effect</a>
        </h2>
        <p class="card__desc">Users have a propensity to best remember the first and last items in a series.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="principle">
    <article class="card" style="background-color:#3d9481">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 697 604" xmlns="http://www.w3.org/2000/svg">
          <g fill="#f4f1d0" fill-rule="evenodd">
            <path style="--animation-order: 1" d="M508.32 24.91l-320.05-.198L28.482 301.743 188.68 579.09l320.05.198 159.787-277.031L508.32 24.91zM522.564.215l174.436 302L522.936 604l-348.5-.216L0 301.784 174.064.0l348.5.215z" fill-rule="nonzero"></path>
            <path style="--animation-order: 2" d="M174 0l522.598 302.346L174 603.846l163.769-302L174 0zm65.598 64.846 125.782 237-125.782 237 406-237-406-237z" fill-rule="nonzero"></path>
            <path style="--animation-order: 2" d="M522.598.0.0 302.346l522.598 301.5-163.77-302L522.599.0zM457 64.846l-125.782 237 125.782 237-406-237 406-237z" fill-rule="nonzero"></path>
            <path style="--animation-order: 3" d="M198.929 25v555H498.07V25H198.93zM174 0h349v604H174V0z"></path>
            <path style="--animation-order: 1" d="M8 315v-25h682v25z"></path>
          </g>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/teslers-law/" data-page-link="">Tesler’s Law</a>
        </h2>
        <p class="card__desc">Tesler's Law, also known as The Law of Conservation of Complexity, states that for any system there is a certain amount of complexity which cannot be reduced.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="cognitive bias">
    <article class="card" style="background-color:#507a53">
      <div class="card__graphic" aria-hidden="true">
        <svg viewBox="0 0 566 569" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect style="--animation-order: 1" fill-opacity=".2" fill="#000" x="0" y="0" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="148" y="0" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="295" y="0" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="444" y="0" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="0" y="149" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="148" y="149" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="295" y="149" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="444" y="149" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="0" y="298" width="122" height="122"></rect>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="148" y="298" width="122" height="122"></rect>
          <circle style="--animation-order: 3" id="oval" fill="#f4f1d0" cx="356" cy="359" r="61"></circle>
          <rect style="--animation-order: 2" fill="#000" fill-opacity=".2" x="444" y="298" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="0" y="447" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="148" y="447" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="295" y="447" width="122" height="122"></rect>
          <rect style="--animation-order: 1" fill="#000" fill-opacity=".2" x="444" y="447" width="122" height="122"></rect>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/von-restorff-effect/" data-page-link="">Von Restorff Effect</a>
        </h2>
        <p class="card__desc">The Von Restorff effect, also known as The Isolation Effect, predicts that when multiple similar objects are present, the one that differs from the rest is most likely to be remembered.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
  <li class="grid__item" data-category="cognitive bias">
    <article class="card" style="background-color:#42928c">
      <div class="card__graphic" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 566 566">
          <rect style="--animation-order: 0.5" fill-opacity=".2" fill="#000" x="0" y="0" width="566" height="68"></rect>
          <rect style="--animation-order: 1" fill-opacity=".2" fill="#000" x="0" y="83" width="566" height="68"></rect>
          <rect style="--animation-order: 1.5" fill-opacity=".2" fill="#000" x="0" y="166" width="566" height="68"></rect>
          <rect style="--animation-order: 2" fill-opacity=".2" fill="#000" x="0" y="249" width="566" height="68"></rect>
          <rect style="--animation-order: 2.5" fill-opacity=".2" fill="#000" x="0" y="332" width="566" height="68"></rect>
          <rect style="--animation-order: 3" fill-opacity=".2" fill="#000" x="0" y="415" width="566" height="68"></rect>
          <rect style="--animation-order: 3.5" fill="#f4f1d0" x="0" y="498" width="295" height="68"></rect>
        </svg>
      </div>
      <div class="card__body">
        <h2 class="card__title">
          <a href="/laws/zeigarnik-effect/" data-page-link="">Zeigarnik Effect</a>
        </h2>
        <p class="card__desc">People remember uncompleted or interrupted tasks better than completed tasks.</p>
        <div class="card__meta text-meta"></div>
      </div>
    </article>
  </li>
</ul>
