{% import "macros.html" as macros %}
{% import "content.html" as content %}

<!DOCTYPE html>
<html lang="en">
  {{ macros::head() }}
  {{ macros::header() }}
  <body>
    <div class="container">
      <div class="navtable">
        <input type="radio" id="tab1" name="tab" checked>
        <label for="tab1"><i class="fas fa-balance-scale"></i>Laws of UX</label>
        <input type="radio" id="tab2" name="tab">
        <label for="tab2"><i class="fas fa-calendar-alt"></i>UI Patterns</label>
        <input type="radio" id="tab3" name="tab">
        <label for="tab3"><i class="fas fa-bullseye"></i>Design Patterns</label>
        <input type="radio" id="tab4" name="tab">
        <label for="tab4"><i class="fas fa-book-skull"></i>Dark Patterns</label>
        <div class="line"></div>
        <div class="content-container">
          <div class="content" id="c1">
            {{ content::laws() }}
          </div>
          <div class="content" id="c2">
            {{ content::uip() }}
          </div>
          <div class="content" id="c3">
            {{ content::pdp() }}
          </div>
          <div class="content" id="c4">
            {{ content::dpp() }}
          </div>
        </div>
      </div>
      <div class="viewpanel">
        {% block content %}{% endblock content %}
      </div>
    </div>  
    {{ macros::footer() }}
  </body>
