{% extends "index.html" %} {% block content %} {{ page.content | safe }}

<article class="card" style="background-color: #506485">
  <div class="card__graphic" aria-hidden="true">
    <img src="/laws/{{ page.slug }}.svg" style="width: 560px" />
  </div>
  <div class="card__body">
    <h2 class="card__title">{{ page.title }}</h2>
    <p class="card__desc">{{ page.description}}</p>
    <div class="card__meta text-meta"></div>
  </div>
</article>

{% endblock content %}
