{% macro head() %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{%- if page.title is defined -%}{{ page.title }}{%- endif -%}
    {%- if section.title is defined -%}{{ section.title }}{%- endif -%}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | striptags | trim | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}">

  <link rel="stylesheet" href="{{ config.base_url ~ "/main.css" }}">
  <link href="{{ get_url(path="fontawesome/fontawesome.css") }}" rel="stylesheet">
  <link href="{{ get_url(path="fontawesome/brands.css") }}" rel="stylesheet">
  <link href="{{ get_url(path="fontawesome/solid.css") }}" rel="stylesheet">
</head>
{% endmacro head %}

{% macro header() %}
<div id="particles-js">
  <!-- <div> -->
  <div class="header">
    <h1>
      <span class="site-title">{{ config.extra.user_description }}</span>
      <!-- <span class="site-description">by {{ config.extra.user_title }}</span> -->
    </h1>
  </div>
  <!-- <a class="down" href="#uip" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
{% endmacro header %}

{% macro searchbar() %}
<div class="search-container">
  <input id="search" type="search" placeholder="🔎 Search the docs">

  <div class="search-results">
      <div class="search-results__items"></div>
  </div>
</div>
{% endmacro searchbar %}

{% macro footer() %}
<footer class="footer">
    <p>&copy; {{ config.extra.user_title }}</p>
   </p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ config.base_url ~ "/js/sweet-scroll.min.js" }}"></script>
<script src="{{ config.base_url ~ "/js/main.js" }}"></script>
<script src="{{ config.base_url ~ "/js/fontawesome.min.js" }}"></script>
<!-- <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
<script type="text/javascript" src="{{ config.base_url ~ "/js/search.js" }}"></script> -->
{% endmacro footer %}

