{% extends "index.html" %}

{% block content %}
<div class="sticky">
    <h2>
        <i class="{{ page.extra.icontype }}" aria-hidden="true"></i>
        {{ page.title }}
    </h2>
</div>
{{ page.content | safe }}
{% endblock content %}